html, body {
    height: 100%;
    margin: auto;
}

body {
    width: 80%;
}

#general-section{
    margin: auto;
    width: 50%;
}

#settings-section {
    width: 100%;
    height: 100%;
    float: left;
}

#settings-section section {
    float: left;
    width: 50%;
    height: 100%;
}

.status-message-ok {
    color: green;
    display: none;
}

.status-message-nok {
    color: red;
    display: none;
}

.mapping-textarea {
    width: 80%;
    height: 500px;
}